<<<<<<< HEAD
.seccion {
    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
=======
.seccion {
    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
>>>>>>> e73ab30300cfd69d1106b720a967b4488360ea44
}